apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: app-namespace
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: imaisalama/devops-app:4
          ports:
            - containerPort: 5000